{% extends 'website/base.html' %}

{% block main %}
        <style>
        body{
            background-color: #5CDB95;
        }
    </style>
    <table border="1" cellpadding = "10% " cellspacing = 1 bgcolor = "lightblue" align="center">
        <figcaption>Informações sobre o Website</figcaption>
        <thead>
            <tr style="background-color: lightblue;">
                <th>Elementos</th>
                <th>Quantidade</th>
            </tr>
            <tr>
                <td> Páginas </td>
                <td>16 &#128561</td>
            </tr>
            <tr>
                <td> Imagens </td>
                <td>17 &#129409</td>
            </tr>
            <tr>
                <td> Links Externos </td>
                <td>2 &#128279</td>
            </tr>
            <tr>
                <td>Vídeos</td>
                <td>2 &#128249</td>
            </tr> 
            <tr>
                <td>Animações</td>
                <td>6 &#9889</td>
            </tr>
            <tfoot>
            <tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
{% endblock %}